---
import { getCollection } from 'astro:content';

import BlogPost from '../components/BlogPost.astro';

import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import PageSection from '../components/PageSection.astro';
import PageSectionTitle from '../components/PageSectionTitle.astro';

import parrotVideo from '../media/parrot_video_resized.webm';

const allPosts = await getCollection('posts');
---

<Layout
	title="blog"
	description="wadamek65's blog containing post about various software engineering topics."
>
	<PageTitle>blog</PageTitle>
	<PageSection>
		<div class="mb-8 flex justify-center">
			<video
				src={parrotVideo}
				autoplay="autoplay"
				playsinline="playsinline"
				muted="muted"
				loop="loop"
				width="150"
				height="150"
				class="size-[150px] rounded-full border-2 border-st-tropaz-700"></video>
		</div>
		<p>Welcome to our blog. I'm only the editor though.</p>
	</PageSection>
	<PageSection>
		<PageSectionTitle>posts</PageSectionTitle>
		<ul>
			{
				allPosts.map((post) => (
					<BlogPost
						coverImage={post.data.coverImage}
						href={`/blog/${post.slug}`}
						publishedTime={post.data.publishedTime}
						tags={post.data.tags}
						title={post.data.title}
					/>
				))
			}
		</ul>
	</PageSection>
</Layout>
