---
import { getCollection } from 'astro:content';

import BlogPost from '../components/BlogPost.astro';

import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import PageSection from '../components/PageSection.astro';
import PageSectionTitle from '../components/PageSectionTitle.astro';

import parrotVideo from '../media/parrot_video_resized.webm';

const allPosts = await getCollection('posts', (post) => {
	return post.data.publishedTime;
}).then((posts) =>
	posts.sort((a, b) => b.data.publishedTime.getTime() - a.data.publishedTime.getTime()),
);
---

<Layout
	title="Wojciech Adamek’s Blog – Insights on Web Development from a perspective of a tech lead, music producer, and game developer"
	description="Dive into the blog of Wojciech Adamek, a full-stack developer, music producer, and game developer from Wrocław, Poland. Explore articles on TypeScript, Node.js, ReactJS, and more, alongside discussions on music production and game development. Stay updated with expert insights and industry trends."
>
	<PageTitle>blog</PageTitle>
	<PageSection>
		<div class="mb-8 flex justify-center">
			<video
				src={parrotVideo}
				autoplay="autoplay"
				playsinline="playsinline"
				muted="muted"
				loop="loop"
				width="150"
				height="150"
				class="size-[150px] rounded-full border-2 border-st-tropaz-700"></video>
		</div>
		<p>Welcome to our blog. I'm only the editor though.</p>
	</PageSection>
	<PageSection>
		<PageSectionTitle>posts</PageSectionTitle>
		<ul class="space-y-4">
			{
				allPosts.map((post) => (
					<BlogPost
						coverImage={post.data.coverImage}
						href={`/blog/${post.slug}`}
						publishedTime={post.data.publishedTime}
						tags={post.data.tags}
						title={post.data.title}
					/>
				))
			}
		</ul>
	</PageSection>
</Layout>
