---
import { Image } from 'astro:assets';
import FormattedDate from './FormattedDate.astro';

interface Props {
	coverImage: {
		src: string;
		alt: string;
	};
	href: string;
	publishedTime: Date;
	modifiedTime: Date;
	tags: string[];
	title: string;
}
const { title, href, coverImage, publishedTime, tags } = Astro.props;
---

<li class="transition-transform hover:scale-[1.02]">
	<a
		href={href}
		class="grid grid-flow-row gap-y-2 sm:grid-cols-[min-content_auto] sm:flex-row sm:justify-items-start sm:gap-x-4 sm:gap-y-0"
	>
		<div class="col-span-full justify-self-center sm:col-span-1 sm:row-span-full sm:h-32 sm:w-48">
			<Image
				loading="eager"
				src={coverImage.src}
				alt={coverImage.alt}
				widths={[448, 224]}
				sizes={`(max-width: 639px) 448px, (min-width: 640px) 224px`}
				class="rounded-3xl object-none"
			/>
		</div>

		<div class="flex w-full flex-col justify-between pb-6">
			<h3 class="text-justify text-2xl sm:text-left sm:text-xl">
				{title}
			</h3>

			<div class="mt-4 sm:mt-0">
				<div class="flex justify-between self-center">
					<span>
						{tags.join(', ')}
					</span>
					<div class="justify-start self-center text-sm text-st-tropaz-700 sm:self-start">
						<FormattedDate date={publishedTime} />
					</div>
				</div>
			</div>
		</div>
	</a>
</li>
