---
import { Image } from 'astro:assets'
import FormattedDate from './FormattedDate.astro'

interface Props {
	coverImage: {
		src: string
		alt: string
	}
	href: string
	publishedDate: Date
	tags: string[]
	title: string
}
const { title, href, coverImage, publishedDate, tags } = Astro.props
---

<li class="transition-transform hover:scale-[1.02]">
	<a
		href={href}
		class="grid grid-flow-row grid-cols-2 gap-y-2 sm:grid-cols-[min-content_1fr] sm:grid-rows-4 sm:flex-row sm:justify-items-start sm:gap-x-4 sm:gap-y-0"
	>
		<div class="col-span-full justify-self-center sm:col-span-1 sm:row-span-full sm:h-32 sm:w-48">
			<Image
				loading="eager"
				src={coverImage.src}
				alt={coverImage.alt}
				widths={[448, 224]}
				sizes={`(max-width: 639px) 448px, (min-width: 640px) 224px`}
				class="rounded-3xl object-none"
			/>
		</div>

		<h3 class="col-span-full row-start-1 text-left text-2xl sm:col-span-1 sm:text-xl">
			{title}
		</h3>

		<div class="justify-start self-center text-sm text-st-tropaz-700 sm:self-start">
			<FormattedDate date={publishedDate} />
		</div>

		<div
			class="self-center justify-self-end text-sm sm:row-span-2 sm:self-end sm:justify-self-start sm:pb-6"
		>
			{tags.map((tag) => tag)}
		</div>
	</a>
</li>
