---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import Link from './components/Link.astro';

type Author = {
	displayName: string;
	handle: string;
	avatar: string;
};

type Record = {
	createdAt: string;
	text: string;
	parent: {
		cid: string;
		uri: string;
	};
	root: {
		cid: string;
		uri: string;
	};
};

type Comment = {
	post: {
		author: Author;
		record: Record;
		replyCount: number;
		repostCount: number;
		likeCount: number;
		quoteCount: number;
		uri: string;
	};
	replies: Comment[];
};

type Props = Comment;

const {
	replies,
	post: { uri, author, record, replyCount, repostCount, likeCount },
} = Astro.props;

const postParts = uri.split('/');
const postId = postParts[postParts.length - 1];
---

<div class="relative">
	{
		author.handle === 'wadamek.me' && (
			<span class="absolute -left-6 h-3/4 border-l-4 border-mirage-500 pl-2" />
		)
	}
	<div class="flex items-stretch gap-x-6">
		<Image
			src={author.avatar}
			alt=""
			class="size-12 rounded-full"
			inferSize={true}
			loading="lazy"
		/>
		<div class="flex flex-col justify-stretch">
			<Link href={`https://bsky.app/profile/${author.handle}`} class="leading-6">
				{author.displayName}
			</Link>
			<Link href={`https://bsky.app/profile/${author.handle}`} class="text-sm italic">
				@{author.handle}
			</Link>
		</div>
	</div>

	<div class="mt-2">
		<p class="indent-0">
			{record.text}
		</p>
	</div>
	<div class="mt-4 flex items-center justify-between text-sm">
		<div class="flex gap-x-4">
			<span class="flex items-center gap-x-1"
				><Icon class="text-mirage-500" name="heart" /> {likeCount}</span
			>
			<span class="flex items-center gap-x-1"
				><Icon class="text-mirage-500" name="repost" /> {repostCount}</span
			>
			<span class="flex items-center gap-x-1"
				><Icon class="text-mirage-500" name="message_prompt" /> {replyCount}</span
			>
		</div>
		<div>
			<span
				>{
					new Date(record.createdAt).toLocaleString('en-US', {
						month: 'short',
						day: 'numeric',
						year: 'numeric',
						hour: 'numeric',
						minute: 'numeric',
						hour12: true,
					})
				}
			</span>
		</div>
	</div>
	<div class="flex justify-end">
		<Link
			href={`https://bsky.app/profile/${author.handle}/post/${postId}`}
			class="flex items-center gap-x-1">reply<Icon name="send" class="size-4" /></Link
		>
	</div>
</div>
<div class="mt-8 pl-16">
	{replies.map((reply) => <Astro.self {...reply} />)}
</div>
