---
import { Image } from 'astro:assets';

import FormattedDate from '../components/FormattedDate.astro';
import CopyLinkButton from '../components/CopyLinkButton.astro';
import ProfilePicture from '../components/ProfilePicture.astro';
import IconLink from '../components/IconLink.astro';
import { Icon } from 'astro-icon/components';
import Newsletter from '../components/Newsletter.astro';
import { BlogComments } from '../components/BlogComments';
import Link from '../components/Link.astro';

interface Props {
	readTime: string;
	frontmatter: {
		title: string;
		description: string;
		coverImage: {
			src: string;
			alt: string;
		};
		publishedTime: Date;
		modifiedTime: Date;
		tags: string[];
		blueskyPostId: string;
	};
}
const { frontmatter, readTime } = Astro.props;
---

<article
	class="prose min-w-full lg:prose-xl prose-a:text-remy-700 prose-a:no-underline hover:prose-a:text-remy-400 hover:prose-a:underline"
>
	<h1 class="!mb-2">{frontmatter.title}</h1>
	<div class="flex justify-between">
		<div>
			<FormattedDate date={frontmatter.publishedTime} />
			-
			{readTime}
		</div>
		<CopyLinkButton />
	</div>
	<Image
		class="rounded-xl"
		alt={frontmatter.coverImage.alt}
		src={frontmatter.coverImage.src}
		inferSize={true}
		loading="eager"
	/>
	<slot />
	<section class="not-prose">
		<hr class="my-16 border-dashed border-puerto-rico-400" />
		<Newsletter
			><p class="mb-4 text-center">
				Subscribe to my newsletter to stay up to date with my content!
			</p>
		</Newsletter>

		<div class="mt-16 flex justify-center">
			<ProfilePicture width={75} height={75} />
		</div>
		<div
			class:list={[
				'not-prose',
				'mt-8',
				'flex',
				'items-center',
				'justify-center',
				'gap-x-2',
				'text-center',
				'text-puerto-rico-600',
			]}
		>
			<Link href="/">home</Link>
			&bull;
			<Link href="/blog/">blog</Link>
			&bull;
			<IconLink name="github" alt="GitHub profile link" href="https://github.com/wadamek65" />
		</div>
		<div class="not-prose mt-4 flex justify-center">
			<Link class="text-sm" href="/rss.xml" target="_blank"
				>RSS<Icon class="ml-1 inline size-4" name="rss" /></Link
			>
		</div>
	</section>
	<section class="not-prose mt-16">
		<div class="mb-8">
			<Link
				target="_blank"
				class="text-sm"
				href=`https://bsky.app/profile/wadamek.me/post/${frontmatter.blueskyPostId}`
			>
				Reply to this Bluesky post to post a comment!
			</Link>
		</div>
		<BlogComments client:load blueskyPostId={frontmatter.blueskyPostId} />
	</section>
</article>
